<h2>{{model.asked}}</h2>
<h2>{{model.author}}</h2>
<h2>{{model.description}}</h2>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="asked">Ask your question: </label>
      {{textarea id="asked" class="form-control" rows="2" value=asked}}
    </div>

    <div class="form-group">
      <label for="description">Provide more details: </label>
      {{textarea id="description" class="form-control" rows="5" value=description}}
    </div>

    <div class="form-group">
      <label for="author">Name: </label>
      {{input id="author" class="form-control" value=author}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>

  </form>
{{else}}
  <p>{{body}}</p>

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
{{/if}}

<!-- {{#each comments}}
  <p>{{text}}</p>
{{/each}}

<p>{{#link-to 'new-comment' this.id class="btn btn-default"}}New Comment{{/link-to}}</p>

{{outlet}} -->
