

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="asked">Ask your question: </label>
      {{textarea id="asked" class="form-control" rows="2" value=asked}}
    </div>

    <div class="form-group">
      <label for="description">Provide more details: </label>
      {{textarea id="description" class="form-control" rows="5" value=description}}
    </div>

    <div class="form-group">
      <label for="author">Name: </label>
      {{input id="author" class="form-control" value=author}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>

  </form>
{{else}}
<h2>{{model.asked}}</h2>
<h4>{{model.author}}</h4>
<h4>{{model.description}}</h4>

  <button class="btn btn-primary" {{action 'edit'}}>Edit this question</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete this question</button>
  <!-- {{#link-to 'recent-answers' this.id class="btn btn-default"}}Show recent answers{{/link-to}} -->
  {{#link-to 'new-answer' this.id class="btn btn-default"}}Provide a new answer{{/link-to}}

{{/if}}

{{#each answers as |answer|}}
  <p>{{answer.text}}<br>{{answer.name}}<br></p>
{{/each}}

{{outlet}}
